<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-light">PassGen</a>
  </nav>

  <div class="row justify-content-center mt-5 pt-5">
    <div class="col-lg-6">

      <div class="input-group">
        <input [value]="storedInputText" (change)="refreshLS(inputInput.value)" class="form-control"
          [type]="textInputType" placeholder="Input Text" (focus)="textInputType='text'"
          (blur)="textInputType='password'" #inputInput>
      </div>

      <div class="input-group mt-5 pl-5 pr-5" style="height:75px">
        <div class="input-group-prepend">
          <span class="input-group-text"><svg width="25" height="25" class="octicon octicon-lock" viewBox="0 0 12 16"
              version="1.1" aria-hidden="true">
              <path fill-rule="evenodd"
                d="M4 13H3v-1h1v1zm8-6v7c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V7c0-.55.45-1 1-1h1V4c0-2.2 1.8-4 4-4s4 1.8 4 4v2h1c.55 0 1 .45 1 1zM3.8 6h4.41V4c0-1.22-.98-2.2-2.2-2.2-1.22 0-2.2.98-2.2 2.2v2H3.8zM11 7H2v7h9V7zM4 8H3v1h1V8zm0 2H3v1h1v-1z">
              </path>
            </svg></span>
        </div>
        <input style="height:75px;font-size:32px;color:#5897da" pattern="[a-zA-Z]*" maxlength="4"
          class="form-control text-center" type="text" placeholder="Encryption Key" (focus)="keyInput.value=''"
          (keyup)="tryEncrypt(inputInput.value,keyInput.value,keyInput.checkValidity(),keyInput,copyTarget)"
          [value]="keyValue" #keyInput>
      </div>

      <div class="input-group mt-5">
        <input class="form-control" [type]="outputInputType" placeholder="Generated Password"
          (focus)="outputInputType='text'" (blur)="outputInputType='password'" [value]="outputValue" readonly
          #copyTarget>
        <div class="input-group-append">
          <button ngxClipboard type="button" class="btn btn-primary" [cbContent]="outputValue">Copy to
            Clipboard</button>
        </div>
      </div>

    </div>
  </div>

</div>